
nav {
    background-color: var(--primary-color) ;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color:var(--secondary-color);
}
#title{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--raleway);
    padding: 1rem;
    width: 90%;
}
footer{
    margin-top: 5rem;
}
#title p{
  text-align: center;
}
.hr {
    border : var(--secondary-color) 1px solid;
    width:50%;
}
#form-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

#form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    gap: 0.5rem;
    min-height: 200px;
    padding: 1rem;
    width: 80%; 
    font-family: var(--raleway);
    color: var(--primary-color);
    font-weight: bold;
}
#form-container p{
    margin: 1rem 0 0 0;
}

.name-input{
    font-family: var(--raleway);
    height: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 2rem;
    width: 90%;
    padding: 0 0.3rem;
}

#btn-container{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0.5rem;
    width: 90%;
}
.btn-standard{
    cursor: pointer;
    font-family: var(--roboto);
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1.2rem ; 
    border-radius: 1rem;
    text-decoration: none;
}

.btn-standard:active{
    background-color: var(--third-color);
    color: var(--primary-color);
}
@media only screen and (min-width: 600px) {
    #form-container{
        max-width: 480px;
    }
    
    body{
        background-image: url(/assets/background_contact_desktop.png);
      
    }
} 