
nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    background-color: var(--primary-color) ;
    justify-content: space-between;
    overflow: hidden;
    font-family: var(--roboto);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
    margin-right: 2rem;
    list-style: none;
}
.dropdown{
    visibility: hidden;
    width: 0;
  
}
li{
    display: flex;
    flex-direction: row;
    
}
li a{
    list-style: none;
    text-decoration: none;
    color: white;
    
}
.hereos{
    background-image:url("/assets/linus-mimietz-QEpofCLA8wA-unsplash.jpg") ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:calc(100vh - 4rem);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 9rem;
    text-align: center;
}
.scroll{
    height: 17rem;
    width: 15rem;
}
.title{
    font-family: var(--roboto);
    font-size: 3rem;
    font-weight: 600;
    color:white;
    letter-spacing: 5px;
    padding:1.5rem;
    
}
.para{
    font-family: var(--roboto);
    font-size: 1.5rem;
    font-weight: 40px;
    color:white;
    letter-spacing: 2px;
}
  @media only screen and (min-width: 600px) {

    .dropdown{
        visibility:visible;
        width:10rem;
      
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 17rem;
        margin-right: 2rem;
        list-style: none;
    }
    li a{
        list-style: none;
        text-decoration: none;
        color: white;
    }
    
    li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: fixed;
        background-color: rgba(255,255,255,0.50);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .lidistrict{
          visibility: hidden;
      }
    .hereos{
        background-image:url("/assets/thomas-despeyroux-FOr1dBCQs4U-unsplash.jpg") ;
        background-size: cover;
        background-position: center;
        width: 100%;
        height:calc(100vh - 4rem);
    }
    .scroll{
        height:15rem;
        width: 12rem;
    }
    }
